<div class="card my-5">
  <div class="card-body">
    <ng-container *ngIf="users && users.length > 0; else noUsers">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
          <td>
            <button class="btn btn-danger" (click)="deleteUser(user.id)">
            <i class="bi bi-trash"></i> Delete
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </ng-container>
    <ng-template #noUsers>
      <p>No users found.</p>
    </ng-template>
  </div>
</div>
